@import '../components/config';

.Post {
  // when adjusting the post width, the `maxWidth` option for
  // 'gatsby-remark-images' must also be changed
  max-width: 720px;

  header {
    color: #535353;

    a {
      color: inherit;
      &:visited {
        color: inherit;
      }
      &:hover {
        opacity: 0.8;
      }
    }

    h1 {
      font-size: 38px;
      font-weight: 400;
      margin: 0;
      color: rgb(10, 10, 10);
    }

    .info {
      margin-top: 5px; // + li margin-top = 15px

      li {
        display: inline-block;
        margin-top: 10px;
      }

      img {
        width: 30px;
        margin-bottom: -9px;
        margin-right: 8px;
        border-radius: 50%;
      }

      .edit {
        font-size: 18px;
        margin-bottom: -1px;
      }
    }

    .tags {
      font-size: 13px;
      margin-top: 14px; // + li margin-top = 20px

      li {
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        margin-top: 6px;
        margin-right: 5px;
      }
    }

    .attachments {
      margin-top: 20px;

      li {
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #dfdfdf;
        border-radius: 2px;

        & + li {
          margin-left: 5px;
        }
      }

      svg {
        margin-right: 5px;
      }
    }
  }

  .content {
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 17px;
    line-height: 1.75;
    color: #3e3e3e;

    a {
      color: $main;
    }

    h1 {
      background-color: red;
    }

    h2,
    h3 {
      margin-top: 30px;
    }

    h2 {
      font-size: 33px;
      font-weight: 400;
    }

    h3 {
      font-size: 23px;
      font-weight: bold;
    }

    blockquote {
      border-left: 5px solid whitesmoke;
      padding-left: 10px;
    }

    code,
    pre {
      margin-bottom: 0;
    }

    div[data-language] {
      width: 100%;

      & + p > em {
        display: inline-block;
        text-align: center;
        width: 100%;
      }
    }

    div[data-language],
    p,
    blockquote,
    ul,
    ol {
      margin-top: 12px;
    }

    ul {
      margin-left: 30px;
      list-style-type: circle;
    }

    // gatsby-remark-responsive-iframe

    :global(.gatsby-resp-iframe-wrapper) {
      margin-top: 15px;
      border: 1px solid #eaeaea;
    }

    // gatsby-remark-prismjs

    :not(pre) > code[class*='language-'] {
      font-size: 14px;
      word-break: normal;

      @media screen and (max-width: $breakpoint2) {
        & {
          word-break: break-all;
        }
      }
    }

    pre[class*='language-'] > code {
      font-size: 14px;
      border-left: 10px solid unquote('#3e53cdb3');
    }

    pre[class*='language-']::before,
    pre[class*='language-']::after {
      content: unset;
    }

    // gatsby-remark-prismjs

    :global(.anchor) {
      padding-right: 8px;
      margin-left: -24px;
    }
  }

  .attachments,
  .comments {
    margin-top: 25px;

    h1 {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 25px;
      font-weight: 100;
    }
  }

  .attachments {
    li {
      padding: 20px;
      border: 1px solid #ddd;
      text-align: center;
      display: inline-block;
      color: #4d4d4d;

      &:hover {
        color: $main;
        border: 1px solid #3e53cda1;
      }

      svg {
        margin-right: 5px;
      }
    }
  }
}
