@import '~prismjs/themes/prism-coy.css';
@import '../components/config';

pre[class*='language-'] > code {
  border: 1px solid #dfdfdf;
  border-left: 10px solid unquote('#3e53cdb3');
  box-shadow: none;
}

.Post {
  header {
    padding-top: 25px;

    .back {
      cursor: pointer;
      position: absolute;
      margin-top: 6px;
    }

    h1 {
      font-family: $sansSerif;
      font-size: 26px;
      font-weight: bold;
      line-height: normal;
      margin: 0;
      margin-bottom: 10px;
    }

    & > ul {
      display: inline-block;
      font-family: $sansSerif;
      font-size: 14px;
      font-weight: bold;
      line-height: 2;
      color: #3e3e3e;

      & > li {
        padding-right: 10px;
      }

      & > li + li {
        border-left: 1px solid #d8d8d8;
      }

      li {
        display: inline-block;
      }

      li + li {
        padding-left: 10px;
      }
    }

    a {
      text-decoration: none;
    }

    .tags,
    .files {
      & a {
        font-family: $sansSerif;
        font-size: 14px;
        font-weight: bold;
        line-height: 2;
        color: #3e53cd;
      }
    }
  }

  .content {
    margin-top: 20px;
    font-family: $sansSerif;
    font-size: 16px;
    line-height: 1.75;
    color: #3e3e3e;

    h2 {
      display: inline-block;
      font-family: $sansSerif;
      font-size: 24px;
      font-weight: bold;
      line-height: normal;
      margin-top: 30px;
    }

    h3 {
      display: inline-block;
      height: 22px;
      font-family: $sansSerif;
      font-size: 16px;
      font-weight: bold;
      line-height: normal;
      margin-top: 20px;
    }

    blockquote {
      border-left: 5px solid whitesmoke;
      padding-left: 10px;
    }

    div[data-language] {
      width: 100%;

      & + p > em {
        display: inline-block;
        text-align: center;
        width: 100%;
      }
    }

    p {
      width: 100%;
    }

    div[data-language],
    p,
    blockquote,
    ul,
    ol {
      margin-top: 15px;
    }

    a {
      &,
      &:active,
      &:visited,
      &:hover {
        text-decoration: none;
        color: #3e53cd;
      }
    }

    ul {
      margin-left: 30px;
      list-style-type: circle;
    }
  }

  .comments {
    margin-top: 30px;
  }

  .showComments {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px #3e53cd;
    font-family: $sansSerif;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #3e53cd;
    background: inherit;
    cursor: pointer;
  }
}
