@import '../components/config';

.Post {
	// when adjusting the post width, the `maxWidth` option for
	// 'gatsby-remark-images' in `./gatsby-config.js` must also
	// be changed
	max-width: 720px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
	}

	:global(.anchor.before) {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		padding-right: 4px;
	}

	:global(.anchor) {
		margin-top: -3px;
		width: 32px;
		text-align: center;
		display: inline-block;
	}

	header {
		color: #535353;

		a {
			color: inherit;
			&:visited {
				color: inherit;
			}
			&:hover {
				opacity: 0.8;
			}
		}

		h1 {
			font-size: 38px;
			font-weight: 400;
			margin: 0;
			color: rgb(10, 10, 10);
		}

		.info {
			margin-top: 6px;

			li {
				display: inline-block;
				margin-top: 10px;
				height: 24px;
				line-height: 24px;

				a > div {
					margin-right: 5px;
				}

				img {
					width: 24px;
					border-radius: 50%;
				}
			}
		}

		.tags {
			font-size: 13px;
			margin-top: 11px;

			li {
				display: inline-block;
				padding: 3px 5px;
				border: 1px solid #dfdfdf;
				border-radius: 2px;
				margin-top: 6px;
				margin-right: 5px;
			}
		}

		figure {
			margin-top: 40px;
			border: 1px solid #f4f4f4;
		}
	}

	.content {
		margin-top: 30px;
		color: rgba(0, 0, 0, 0.84);
		font-size: 17px;
		line-height: 1.75;
		color: #3e3e3e;

		a {
			color: $main;
		}

		h1 {
			background-color: red;
		}

		h2,
		h3 {
			margin-top: 25px;
		}

		h2 {
			font-size: 33px;
			font-weight: 400;
		}

		h3 {
			font-size: 23px;
			font-weight: bold;
		}

		blockquote {
			border-left: 5px solid whitesmoke;
			padding-left: 10px;
		}

		img {
			border: 1px solid #f0f0f0;
		}

		figcaption {
			text-align: center;
			font-style: italic;
			margin-top: 5px;
		}

		div[data-language] {
			width: 100%;
		}

		div[data-language],
		:global(div.gatsby-resp-iframe-wrapper) {
			& + p > em:only-child {
				display: inline-block;
				text-align: center;
				width: 100%;
			}
		}

		div[data-language],
		p,
		blockquote,
		ul,
		ol,
		table {
			margin-top: 12px;
		}

		ol,
		ul {
			margin-left: 30px;
		}

		ul {
			list-style-type: circle;
		}

		// gatsby-remark-responsive-iframe

		:global(.gatsby-resp-iframe-wrapper) {
			margin: 0 auto;
			width: 80%;
			margin-top: 25px;
			border: 1px solid #eaeaea;
		}

		// gatsby-remark-prismjs

		:not(pre) > code[class*='language-'] {
			font-size: 14px;
			word-break: normal;

			@media screen and (max-width: $breakpoint2) {
				& {
					word-break: break-all;
				}
			}
		}

		pre[class*='language-'] > code {
			font-size: 14px;
			border-left: 10px solid unquote('#3e53cdb3');
			z-index: auto;
		}

		pre[class*='language-']::before,
		pre[class*='language-']::after {
			content: unset;
		}
	}

	.attachments,
	.comments {
		margin-top: 25px;

		h1 {
			display: inline-block;
			margin-bottom: 20px;
			font-size: 25px;
			font-weight: 100;
		}
	}

	.attachments {
		li {
			padding: 20px;
			border: 1px solid #ddd;
			text-align: center;
			display: inline-block;
			color: #4d4d4d;

			&:hover {
				color: $main;
				border: 1px solid #3e53cda1;
			}

			svg {
				margin-right: 5px;
			}
		}
	}

	.newsletter {
		margin: 55px auto 0;
		border-radius: 8px;
		text-align: center;
		background-color: #eaedff;
		padding: 13px;

		& p {
			padding: 7px;
			line-height: 22px;
		}

		& a {
			color: $main;
			font-weight: bold;
		}
	}

	.comments {
		margin-top: 40px;
	}

	:global(#disqus_recommendations) {
		display: none;
	}
}
