.Post {
  .back {
    cursor: pointer;
  }

  header {
    h1 {
      font-size: 22px;
      font-weight: bold;
      line-height: normal;
      text-align: center;
    }

    ul {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      line-height: 2;
      text-align: right;
      color: #3e3e3e;
    }

    li {
      padding-right: 10px;
    }

    li + li {
      padding-left: 10px;
      border-left: 1px solid #d8d8d8;
    }

    li {
      display: inline-block;
    }
  }

  img {
    width: 100%;
  }

  figcaption {
    text-align: center;
    width: 100%;
  }

  .content {
    font-size: 16px;
    line-height: 1.75;
    color: #3e3e3e;

    h2 {
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
    }

    h3 {
      height: 19px;
      font-size: 16px;
      font-weight: bold;
      line-height: normal;
      color: #3e3e3e;
    }
  }

  .showComments {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px #3e53cd;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #3e53cd;
    background: inherit;
  }
}
