<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:hi@aymericbeaumet.com">Email</a></li>
          <li><a href="https://github.com/aymericbeaumet/">GitHub</a></li>
          <li><a href="https://stackoverflow.com/users/1071486/aymericbeaumet?tab=profile">Stack Overflow</a></li>
          <li><a href="https://www.linkedin.com/in/aymericbeaumet/">LinkedIn</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
