@import '../components/config';

.Index {
  h1 {
    font-family: $sansSerif;
    font-size: 46px;
    font-weight: bold;
    line-height: normal;
    margin-top: 75px;
    margin-bottom: 0;
  }

  h2 {
    font-family: $sansSerif;
    font-size: 26px;
    font-weight: bold;
    line-height: normal;
    color: #ffffff;
    background-image: linear-gradient(to right, #3023ae, #53a0fd);
    padding: 0 4px;
    display: inline-block;
    margin-top: 11px;
    margin-bottom: 20px;
  }

  p {
    font-family: $sansSerif;
    font-size: 20px;
    line-height: 1.4;
    color: #3e3e3e;
    margin-top: 20px;
  }

  a {
    border-radius: 8px;
    box-shadow: 2px 4px 8px 0 #3942c233;
    background-color: #ffffff;
    text-decoration: none;
    color: #3e3e3e;
    padding: 0 3px;

    transition: box-shadow 0.15s ease-in-out;
    &:hover {
      box-shadow: 2px 4px 8px 0 #53a0fd;
    }
  }

  @media screen and (max-width: $restrainedContentBreakpoint) {
    h1 {
      margin-top: 30px;
    }
  }

  @media screen and (max-width: $alternativeMenuBreakpoint) {
    h1 {
      font-family: $sansSerif;
      font-size: 36px;
      margin-top: 20px;
    }

    h2 {
      font-family: $sansSerif;
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 10px;
    }

    p {
      font-family: $sansSerif;
      font-size: 16px;
      line-height: 1.38;
      margin-top: 10px;
    }
  }
}
