.Index {
  h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: normal;
    margin-top: 75px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
    line-height: normal;
    color: #ffffff;
    background-image: linear-gradient(to right, #3023ae, #53a0fd);
    padding: 0 4px;
    display: inline-block;
    margin-top: 11px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    line-height: 1.4;
    color: #3e3e3e;
    margin-top: 20px;
  }

  a {
    border-radius: 8px;
    box-shadow: 2px 4px 8px 0 #3942c233;
    background-color: #ffffff;
    text-decoration: none;
    color: #3e3e3e;
    padding: 0 3px;

    &:hover {
      box-shadow: 2px 4px 8px 0 #53a0fd;
    }
  }
}
