@import '../components/config';

.wrapper {
	display: flex;
	column-gap: 100px;

	& > * {
		max-width: 600px;
	}

	@media screen and (max-width: $breakpoint0) {
		flex-direction: column;
	}
}

.About {
	h1 {
		font-size: 42px;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 0;
	}

	h2 {
		font-size: 24px;
		font-weight: bold;
		color: #ffffff;
		background-image: linear-gradient(to right, #3023ae, #53a0fd);
		padding: 0 4px;
		display: inline-block;
		margin-top: 0.5rem;
		margin-bottom: 20px;
	}

	p {
		font-size: 19px;
		line-height: 1.4;
		color: #3e3e3e;
		margin-top: 20px;
	}

	a {
		border-radius: 8px;
		box-shadow: 2px 4px 8px 0 #3942c233;
		background-color: #ffffff;
		text-decoration: none;
		color: #3e3e3e;
		padding: 0 4px;

		transition: box-shadow 0.1s ease-in-out;
		&:hover {
			box-shadow: 2px 4px 8px 0 #53a0fd;
		}
	}
}

.Aside {
	display: flex;
	grid-template-columns: repeat(auto-fill, 255px);
	flex-direction: column;

	h2 {
		margin-bottom: 10px;
	}

	& > div {
		margin-bottom: 17px;
		margin-right: 25px;
	}

	@media screen and (max-width: $breakpoint0) {
		padding-top: 60px;
		flex-direction: row;
	}
}
