$minWidth: 320px;
$maxWidth: 800px;

// so that 2 articles can fit on "posts" pages
$restrainedContentBreakpoint: 830px;

// when the header menu is not wide enough
$alternativeMenuBreakpoint: 475px;

$sansSerif: 'Lato', sans-serif;
