// - move the latest post/project below the about
$breakpoint0: 1024px;

// - hide the AB logo
// - reduce the header margin between navigation elements
// - reduce the main padding
$breakpoint1: 780px;

// - display the alternative header icon
// - center the posts
$breakpoint2: 600px;

// color palette
$main: #3e53cd;
