// color palette
$main: #3e53cd;

// - move the latest post/talk/projects below the about
$breakpoint0: 1100px;

// - reduce the header margin between navigation elements
// - reduce the main padding
$breakpoint1: 800px;

// - switch to alternative menu
$breakpoint2: 620px;
