$minWidth: 320px;
$maxWidth: 800px;

$restrainedContentBreakpoint: 830px; // so that 2 articles can fit on "posts" pages
$alternativeMenuBreakpoint: 475px; // when the header menu is not wide enough

$sansSerif: 'Lato', sans-serif;
