// - hide the AB logo
// - reduce the header margin between navigation elements
// - reduce the main padding
$breakpoint1: 720px;

// - display the alternative header icon
// - center the posts
$breakpoint2: 640px;

// color palette
$main: #3e53cd;
