@import 'config';

.AlternativeMenu {
  .toggle {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    width: 70px;
    height: 70px;
    box-shadow: 1px 4px 10px 0 #3942c2e6;
    border-radius: 100%;
    background-image: linear-gradient(154deg, #728be8, #3e53cd);
    cursor: pointer;
    z-index: 1;

    & + input[type='checkbox'] {
      display: none;

      & + .menu {
        display: none;
      }

      &:checked + .menu {
        display: block;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 50% 46%, #040f50cc, #040f50);
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
  }

  .entries {
    text-align: center;
    margin: 0 auto;

    & > li {
      width: 80%;
    }

    & > li + li {
      border-top: 1px solid white;
    }
  }

  .contact {
  }

  @media screen and (min-width: $alternativeMenuBreakpoint) {
    & {
      display: none;
    }
  }
}
