@import 'config';

.AlternativeMenu {
  display: none;

  .toggle {
    position: fixed;
    top: 17px;
    right: 17px;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    box-shadow: 1px 4px 10px 0 #3942c2e6;
    border-radius: 100%;
    background-image: linear-gradient(154deg, #728be8, #3e53cd);
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='checkbox'] {
    display: none;

    & + .toggle {
      & svg:nth-child(1) {
        display: block;
      }
      & svg:nth-child(2) {
        display: none;
      }
      & + .menu {
        display: none;
      }
    }

    &:checked + .toggle {
      & svg:nth-child(1) {
        display: none;
      }
      & svg:nth-child(2) {
        display: block;
      }
      & + .menu {
        display: block;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      circle at 50% 56%,
      unquote('#040f50cc'),
      #040f50
    );
    backdrop-filter: blur(5px);
    font-family: $sansSerif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
  }

  .entries {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 191px;
    width: 100%;

    ul,
    li {
      list-style: none;
      display: inline-block;
    }

    & > li {
      margin: 0 auto;
      width: 80%;
    }

    & > li + li::before {
      background-image: linear-gradient(
        to right,
        unquote('#ffffff02'),
        #ffffff 50%,
        unquote('#ffffff00')
      );
      backdrop-filter: blur(5px);
      width: 100%;
      height: 1px;
      display: block;
      content: '';
    }

    a {
      text-decoration: none;
      font-family: $sansSerif;
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding: 20px 0;
      display: inline-block;
      width: 100%;
    }
  }

  .contact {
    .icon {
      color: #ffffff;
      path {
        fill: #ffffff;
      }

      &.e {
        width: 38px;
        height: 25px;
        object-fit: contain;
      }

      &.t {
        margin-left: 33px;
        width: 34px;
        height: 27px;
        object-fit: contain;
      }

      &.m {
        margin-left: 31px;
        margin-bottom: -2px;
        width: 30px;
        height: 32px;
        object-fit: contain;
      }
    }
  }

  @media screen and (max-width: $alternativeMenuBreakpoint) {
    & {
      display: block;
    }
  }
}
