@import './config';

$delay: 0.2;

.Header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 20px 20px 20px 15px;
	border-bottom: 1px solid #d8d8d8;

	li {
		display: inline;
	}

	a {
		&.active {
			color: $main;
			path {
				fill: $main;
			}
		}

		color: #000000;
		transition: $delay color;
		path {
			fill: #000000;
			transition: $delay fill;
		}
		&:hover {
			color: $main;
			transition: $delay color;
			path {
				fill: $main;
				transition: $delay fill;
			}
		}
	}

	nav[role='navigation'] li {
		font-weight: bold;
		text-transform: uppercase;

		a {
			padding: 15px;
		}
	}

	nav.contact li {
		svg {
			margin-bottom: -10px;
			padding: 8px;
			width: 1.2em;
			height: 1.2em;
		}
	}

	.search {
		svg {
			path {
				fill: grey;
			}
		}
	}

	@media screen and (max-width: $breakpoint1) {
		nav[role='navigation'] {
			ul {
				margin-left: 5px;
			}

			li {
				a {
					padding: 10px;
				}
			}

			.logo {
				display: none;
			}
		}
	}

	@media screen and (max-width: $breakpoint2) {
		padding: 30px;
		padding-left: 20px;

		nav[role='navigation'] ul {
			margin-left: unset;

			.logo {
				display: unset;
			}
		}

		li:not(.logo) {
			display: none;
		}
	}
}
