@import './config';

$delay: 0.2;

.Header {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 10px 0;
	border-bottom: 1px solid #d8d8d8;

	li {
		display: inline-block;
	}

	li.logo {
		margin-left: 4px;
		margin-right: -3px;
		width: 120px;
		text-align: center;
	}

	a {
		color: #000000;
		transition: $delay color;
		path {
			fill: #000000;
			transition: $delay fill;
		}

		&.active {
			color: $main;
			path {
				fill: $main;
			}
		}

		&:hover {
			color: $main;
			transition: $delay color;
			path {
				fill: $main;
				transition: $delay fill;
			}
		}
	}

	nav[role='navigation'] li {
		font-weight: bold;
		text-transform: uppercase;

		a {
			padding: 13px;
		}

		&:nth-child(2) {
			a {
				margin-left: -13px;
			}
		}
	}

	nav.contact li {
		svg {
			width: 1.4em;
			height: 1.4em;
			padding: 10px;
		}

		&:last-child {
			svg {
				margin-right: -10px;
			}
		}
	}

	@media screen and (max-width: $breakpoint2) {
		padding: 30px 30px 30px 0;

		li:not(.logo) {
			display: none;
		}
	}
}
