@import 'config';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  height: 89px;

  nav[role='navigation'] li + li {
    margin-left: 30px;
  }

  ul > li {
    display: inline;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;

    a {
      font-family: Lato;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      text-transform: uppercase;
      text-decoration: none;

      transition: 0.2s color;
      path {
        fill: #000000;
        transition: 0.2s fill;
      }

      &:hover {
        color: #3e53cd;
        transition: 0.2s color;
        path {
          fill: #3e53cd;
          transition: 0.2s fill;
        }
      }
    }
  }

  .contact {
    margin-bottom: -15px;

    .icon {
      &.e {
        width: 29px;
        height: 19px;
        object-fit: contain;
      }

      &.t {
        margin-left: 26px;
        width: 26px;
        height: 21px;
        object-fit: contain;
      }

      &.m {
        margin-left: 24px;
        margin-bottom: -2px;
        width: 23px;
        height: 25px;
        object-fit: contain;
      }
    }
  }

  .active {
    color: #3e53cd;
    path {
      fill: #3e53cd;
    }
  }

  @media screen and (max-width: $alternativeMenuBreakpoint) {
    .contact,
    nav[role='navigation'] > ul > li:not(:first-child) {
      display: none;
    }
  }
}
