@import './config';

$delay: 0.2;

.Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 30px;
  border-bottom: 1px solid #d8d8d8;

  li {
    display: inline;
  }

  a {
    &.active {
      color: $main;
      path {
        fill: $main;
      }
    }

    color: #000000;
    transition: $delay color;
    path {
      fill: #000000;
      transition: $delay fill;
    }
    &:hover {
      color: $main;
      transition: $delay color;
      path {
        fill: $main;
        transition: $delay fill;
      }
    }
  }

  nav[role='navigation'] li {
    margin-right: 30px;
    font-weight: bold;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint1) {
      margin-right: 20px;
    }
  }

  nav.contact li {
    & + li {
      margin-left: 12px;
    }

    svg {
      width: 1.2em;
      height: 1.2em;
      margin-bottom: -2px;
    }
  }

  .search {
    svg {
      path {
        fill: grey;
      }
    }
  }

  @media screen and (max-width: $breakpoint1) {
    .logo {
      display: none;
    }
  }

  @media screen and (max-width: $breakpoint2) {
    padding: 30px 30px;

    .logo {
      display: unset;
    }

    li:not(.logo) {
      display: none;
    }
  }
}
