@import '~normalize.css/normalize.css';

@import './config';

* {
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 100vw;
  min-width: $minWidth;
  max-width: $maxWidth;
  min-height: 100%;
  margin: 16px 24px 24px;
}
