@import '~normalize.css/normalize.css';
@import 'config';
@import 'fonts';

* {
  padding: 0;
  margin: 0;
  font-family: Lato;
}

html {
  display: flex;
  justify-content: center;
  min-width: $minWidth;
}

body {
  width: $maxWidth;
  padding: 0 16px 32px 16px;
}
