@import '~normalize.css/normalize.css';
@import './config';

* {
	padding: 0;
	margin: 0;
}

html {
	color: #000000;
	font-family: Lato, sans-serif;
}

a,
a:hover {
	text-decoration: none;
}

a:active {
	outline: none;
	color: $main;
}

a,
a:visited {
	color: inherit;
}

::selection {
	background-color: #ffea8b;
}

.Layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	& > main {
		flex-grow: 1;
		padding: 60px 120px;

		@media screen and (max-width: $breakpoint1) {
			padding: max(env(safe-area-inset-top), 30px) max(env(safe-area-inset-right), 30px)
				max(env(safe-area-inset-bottom), 30px) max(env(safe-area-inset-left), 30px);
		}
	}
}
