.Posts {
  ul {
    list-style-type: none;
  }

  .postsList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .post {
    min-width: 255px;
    max-width: 255px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;

    & > a {
      text-decoration: none;

      .thumbnail {
        max-width: 100%;
        width: 266px;
        height: 160px;
        overflow: hidden;

        & > div {
          width: 100%;
          height: 100%;
          transition: all 0.2s;
        }
      }

      h2 {
        margin: 5px 0 0px 0;
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        color: #3e53cd;
      }

      &:hover {
        .thumbnail {
          & > div {
            transition: all 0.2s;
            transform: scale(1.025);
          }
        }
      }
    }
  }

  .tagsList {
    margin-top: 5px;
  }

  .tag {
    display: inline-block;

    & + .tag {
      margin-left: 5px;
    }

    a {
      font-size: 12px;
      font-weight: bold;
      line-height: normal;
      color: #3e3e3e;
      text-decoration: none;
    }
  }
}
