@import './config';

.Posts {
  ul {
    list-style-type: none;
  }

  .postsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    grid-gap: 1rem;
    justify-content: space-between;
  }

  .post {
    min-width: 255px;
    max-width: 255px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    position: relative;

    & > a {
      text-decoration: none;

      .thumbnail {
        max-width: 100%;
        width: 266px;
        height: 160px;
        overflow: hidden;
        border: 1px solid #f0f0f0;

        & > div {
          width: 100%;
          height: 100%;
          transition: all 0.2s;
        }
      }

      h2 {
        margin: 5px 0 0px 0;
        font-family: $sansSerif;
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        color: #3e53cd;
      }

      time {
        position: absolute;
        top: 0;
        right: 10px;
        padding: 3px;
        border-radius: 0 0 2px 2px;
        border: 1px solid rgb(240, 240, 240);
        border-top: 0;
        background-color: #ffffffe6;
        font-family: $sansSerif;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3e3e3e;

        & > svg {
          margin-right: 4px;
          margin-bottom: -2px;
        }
      }

      &:hover {
        .thumbnail {
          & > div {
            transition: all 0.2s;
            transform: scale(1.025);
          }
        }
      }
    }
  }

  .tagsList {
    margin-top: 5px;
  }

  .tag {
    display: inline-block;

    & + .tag {
      margin-left: 5px;
    }

    a {
      font-family: $sansSerif;
      font-size: 12px;
      font-weight: bold;
      line-height: normal;
      color: #3e3e3e;
      text-decoration: none;
    }
  }

  @media screen and (max-width: $restrainedContentBreakpoint) {
    .postsList {
      justify-content: center;
    }
  }
}
