.Title {
  font-family: Lato;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 0;
  border-style: solid;
  border-width: 0 0 8px 0;
  border-image: linear-gradient(to right, #3023ae, #53a0fd) 0 0 100% 0/0 0 8px 0;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
