{{ $image := partial "hero-image.html" . }}
<article class="post-card">
	<a href="{{ .RelPermalink }}" title="{{ .Summary | plainify }}">
		<figure>
			{{ with $image }}
				{{ partial "production-picture.html" (dict "image" . "width" 266 "height" 160 "alt" $.Title "loading" "lazy") | safeHTML }}
			{{ end }}
			<figcaption>
				{{ partial "date.html" . }}
				{{ partial "duration.html" . }}
			</figcaption>
		</figure>
		<h2>{{ if .Draft }}[DRAFT] {{ end }}{{ .Title }}</h2>
	</a>

	{{ with .Params.tags }}
		<ul class="tags-list">{{ range . }}<li>{{ partial "tag-link.html" . }}</li>{{ end }}</ul>
	{{ end }}
</article>
