<ul><li>
		<a href="mailto:{{ .Site.Params.email }}" title="Email" target="_blank" rel="nofollow noopener noreferrer">
			{{ partial "icon.html" "email" }}
		</a>
	</li><li>
		<a href="{{ .Site.Params.x }}" title="X.com" target="_blank" rel="nofollow noopener noreferrer">
			{{ partial "icon.html" "x" }}
		</a>
	</li><li>
		<a href="{{ .Site.Params.linkedin }}" title="LinkedIn" target="_blank" rel="nofollow noopener noreferrer">
			{{ partial "icon.html" "linkedin" }}
		</a>
	</li><li>
		<a href="{{ .Site.Params.github }}" title="GitHub" target="_blank" rel="nofollow noopener noreferrer">
			{{ partial "icon.html" "github" }}
		</a>
	</li><li>
		<a href="{{ .Site.Params.stackoverflow }}" title="Stack Overflow" target="_blank" rel="nofollow noopener noreferrer">
			{{ partial "icon.html" "stackoverflow" }}
		</a>
	</li>
</ul>
