<ul><li>
		<a href="mailto:{{ .Site.Params.email }}" aria-label="Email" title="Email" target="_blank" rel="noopener noreferrer">
			{{ partial "icon.html" "email" }}
		</a>
	</li><li>
		<a href="{{ .Site.Params.x }}" aria-label="X.com" title="X.com" target="_blank" rel="noopener noreferrer">
			{{ partial "icon.html" "x" }}
		</a>
	</li><li>
		<a href="{{ .Site.Params.linkedin }}" aria-label="LinkedIn" title="LinkedIn" target="_blank" rel="noopener noreferrer">
			{{ partial "icon.html" "linkedin" }}
		</a>
	</li><li>
		<a href="{{ .Site.Params.github }}" aria-label="GitHub" title="GitHub" target="_blank" rel="noopener noreferrer">
			{{ partial "icon.html" "github" }}
		</a>
	</li><li>
		<a href="{{ .Site.Params.stackoverflow }}" aria-label="Stack Overflow" title="Stack Overflow" target="_blank" rel="noopener noreferrer">
			{{ partial "icon.html" "stackoverflow" }}
		</a>
	</li>
</ul>
