{{ $logo := resources.Get "images/aymeric-beaumet-logo.svg" }}
{{ $activeSection := .Section }}
{{ if eq .Kind "term" }}
	{{ $term := .Data.Term }}
	{{ range .Site.RegularPages }}
		{{ if and (eq .Section "projects") (eq .File.ContentBaseName $term) }}
			{{ $activeSection = "projects" }}
		{{ end }}
	{{ end }}
{{ end }}
<header class="site-header">
	<nav aria-label="Main">
		<ul><li class="logo">
				<a href="{{ "/" | relURL }}"{{ if .IsHome }} aria-current="page" class="active"{{ end }} title="{{ .Site.Params.author }}">
					{{ $logo.Content | safeHTML }}
				</a>
			</li>{{ range .Site.Params.menu }}<li>
				<a href="{{ .url | relURL }}"{{ if eq $activeSection .section }} aria-current="page" class="active"{{ end }}>{{ .name }}</a>
			</li>{{ end }}</ul>
	</nav>

	<nav class="contact" aria-label="Social">
		{{ partial "contact.html" . }}
	</nav>
</header>
