{{ define "main" }}
	{{ $skydiving := resources.Get "images/aymeric-beaumet-indoor-skydiving.jpg" }}
	{{ $productionPicture := partial "production-picture.html" (dict "image" $skydiving "width" 500 "alt" "Me having a lot of fun :)" "loading" "lazy") }}
	<article class="not-found">
		<h1>Oups...</h1>

		<p>It seems the page you are looking for does not exist!</p>
		<p>You can <a href="{{ "/" | relURL }}">learn more</a> about me, or browse my latest <a href="{{ "/posts" | relURL }}">posts</a>, <a href="{{ "/talks" | relURL }}">talks</a> and <a href="{{ "/projects" | relURL }}">projects</a>.</p>

		<h2>Fun fact</h2>

		<p>I love <a href="https://en.wikipedia.org/wiki/Vertical_wind_tunnel" target="_blank" rel="nofollow noopener noreferrer">indoor skydiving</a>!</p>
		<figure>
			<div class="not-found-image">{{ $productionPicture | safeHTML }}</div>
			<figcaption>Me flying for the first time :)</figcaption>
		</figure>
		<p>Check <a href="https://www.tunnelflight.com/" target="_blank" rel="nofollow noopener noreferrer">tunnelflight.com</a> to find the closest indoor skydiving station from your location.</p>
	</article>
{{ end }}
