{{ define "main" }}
	{{ $profile := resources.Get "images/aymeric-beaumet-profile.png" }}
	{{ $profilePicture := partial "production-picture.html" (dict "image" $profile "width" 90 "height" 90 "alt" "Aymeric Beaumet" "title" "Aymeric Beaumet" "loading" "eager" "fetchpriority" "high") }}
	{{ $latestPost := first 1 (sort (where .Site.RegularPages "Section" "posts") "Date" "desc") }}
	{{ $latestTalk := first 1 (sort (where .Site.RegularPages "Section" "talks") "Date" "desc") }}
	{{ $featuredProjects := sort (where (where .Site.RegularPages "Section" "projects") "File.ContentBaseName" "in" (slice "gors" "squeeze")) "Date" "desc" }}

	<div class="home-wrapper">
		<section class="about">
			<header>
				<div class="profile">
					{{ $profilePicture | safeHTML }}
				</div>

				<div>
					<h1>Hey traveler,</h1>
					<h2>Welcome to my corner of the internet</h2>
				</div>
			</header>

			<p>I'm <strong>{{ .Site.Params.author }}</strong>, a French Software Engineer based in Paris, France.</p>

			<p>My <strong>fascination</strong> for computer science has been a lifelong journey, and I feel fortunate to earn a living doing what I love.</p>

			<p>I <a href="{{ "/posts" | relURL }}">write</a>, <a href="{{ "/talks" | relURL }}">speak</a>, and <a href="{{ "/projects" | relURL }}">build projects</a> that feed my curiosity and drive me to learn more every day.</p>

			<p>I believe real growth comes from embracing new challenges, leading me to always push myself out of my comfort zone.</p>

			<p>Right now, I’m channeling that passion into <a href="https://beside.com" target="_blank" rel="noopener noreferrer">Beside</a> where we leverage cutting-edge AI to shape the future of communication.</p>

			<p>Thanks for visiting,<br>Aymeric</p>
		</section>

		<aside class="home-aside">
			{{ range $latestPost }}
				<section>
					<h2>Latest Post</h2>
					{{ partial "card.html" . }}
				</section>
			{{ end }}

			{{ range $latestTalk }}
				<section>
					<h2>Latest Talk</h2>
					{{ partial "card.html" . }}
				</section>
			{{ end }}

			<section>
				<h2>Featured Projects</h2>
				<div class="featured-projects">
					{{ range $featuredProjects }}
						{{ partial "card.html" . }}
					{{ end }}
				</div>
			</section>
		</aside>
	</div>
{{ end }}
