{{ define "main" }}
	{{ $profile := resources.Get "images/aymeric-beaumet-profile.png" }}
	{{ $profileSmall := $profile.Fill "90x90 Center webp" }}
	{{ $profileSmall2x := $profile.Fill "180x180 Center webp" }}
	{{ $profilePicture := partial "production-picture.html" (dict "key" "aymeric-beaumet-profile" "role" "profileHome" "alt" "Aymeric Beaumet" "title" "Aymeric Beaumet") }}
	{{ $latestPost := first 1 (sort (where .Site.RegularPages "Section" "posts") "Date" "desc") }}
	{{ $latestTalk := first 1 (sort (where .Site.RegularPages "Section" "talks") "Date" "desc") }}
	{{ $featuredProjects := sort (where (where .Site.RegularPages "Section" "projects") "Params.slug" "in" (slice "gors" "squeeze")) "Date" "desc" }}

	<div class="home-wrapper">
		<section class="about">
			<header>
				<div class="profile">
					{{ if $profilePicture }}{{ $profilePicture | safeHTML }}{{ else }}<img src="{{ $profileSmall.RelPermalink }}" srcset="{{ $profileSmall.RelPermalink }} 1x, {{ $profileSmall2x.RelPermalink }} 2x" width="{{ $profileSmall.Width }}" height="{{ $profileSmall.Height }}" alt="Aymeric Beaumet" title="Aymeric Beaumet">{{ end }}
				</div>

				<div>
					<h1>Hey traveler,</h1>
					<h2>Welcome to my corner of the internet</h2>
				</div>
			</header>

			<p>I'm <strong>{{ .Site.Params.author }}</strong>, a French Software Engineer based in Paris, France.</p>

			<p>My <strong>fascination</strong> for computer science has been a lifelong journey, and I feel fortunate to earn a living doing what I love.</p>

			<p>I <a href="{{ "/posts" | relURL }}">write</a>, <a href="{{ "/talks" | relURL }}">speak</a>, and <a href="{{ "/projects" | relURL }}">build projects</a> that feed my curiosity and drive me to learn more every day.</p>

			<p>I believe real growth comes from embracing new challenges, leading me to always push myself out of my comfort zone.</p>

			<p>Right now, I’m channeling that passion into <a href="https://beside.com" target="_blank" rel="nofollow noopener noreferrer">Beside</a> where we leverage cutting-edge AI to shape the future of communication.</p>

			<p>Thanks for visiting,<br>Aymeric</p>
		</section>

		<aside class="home-aside">
			{{ range $latestPost }}
				<div>
					<h2>Latest Post</h2>
					{{ partial "card.html" . }}
				</div>
			{{ end }}

			{{ range $latestTalk }}
				<div>
					<h2>Latest Talk</h2>
					{{ partial "card.html" . }}
				</div>
			{{ end }}

			<div>
				<h2>Featured Projects</h2>
				<div class="featured-projects">
					{{ range $featuredProjects }}
						{{ partial "card.html" . }}
					{{ end }}
				</div>
			</div>
		</aside>
	</div>
{{ end }}
